Checks: "google-*, llvm-*, -llvm-header-guard, clang-*, modernize-*,  \
  performance-*, readability-*, -modernize-use-trailing-return-type,  \
  -readability-identifier-length                                      \
  "
FormatStyle: file
WarningsAsErrors: ""